<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.griya.learn.mapper.StudentProfileMapper">

    <resultMap id="profileMap" type="com.griya.learn.entity.StudentProfile">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="knowledgeMastery" column="knowledge_mastery"/>
        <result property="overallLevel" column="overall_level"/>
        <result property="diagnosisReport" column="diagnosis_report"/>
        <result property="studyRhythm" column="study_rhythm"/>
        <result property="cognitiveStyle" column="cognitive_style"/>
        <result property="learningGoal" column="learning_goal"/>
        <result property="errorPattern" column="error_pattern"/>
        <result property="resourcePreference" column="resource_preference"/>
        <result property="feedbackPreference" column="feedback_preference"/>
        <result property="completedDimensions" column="completed_dimensions"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectByUserId" resultMap="profileMap">
        SELECT * FROM `student_profile` WHERE user_id = #{userId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `student_profile` (user_id, knowledge_mastery, overall_level, diagnosis_report,
            study_rhythm, cognitive_style, learning_goal, error_pattern, resource_preference,
            feedback_preference, completed_dimensions, status)
        VALUES (#{userId}, #{knowledgeMastery}, #{overallLevel}, #{diagnosisReport},
            #{studyRhythm}, #{cognitiveStyle}, #{learningGoal}, #{errorPattern}, #{resourcePreference},
            #{feedbackPreference}, #{completedDimensions}, #{status})
    </insert>

    <update id="updateById">
        UPDATE `student_profile`
        <set>
            <if test="knowledgeMastery != null">knowledge_mastery = #{knowledgeMastery},</if>
            <if test="overallLevel != null">overall_level = #{overallLevel},</if>
            <if test="diagnosisReport != null">diagnosis_report = #{diagnosisReport},</if>
            <if test="studyRhythm != null">study_rhythm = #{studyRhythm},</if>
            <if test="cognitiveStyle != null">cognitive_style = #{cognitiveStyle},</if>
            <if test="learningGoal != null">learning_goal = #{learningGoal},</if>
            <if test="errorPattern != null">error_pattern = #{errorPattern},</if>
            <if test="resourcePreference != null">resource_preference = #{resourcePreference},</if>
            <if test="feedbackPreference != null">feedback_preference = #{feedbackPreference},</if>
            <if test="completedDimensions != null">completed_dimensions = #{completedDimensions},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
